In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
mass_shootings_path = "Resources/mass_shootings.csv"

mass_shootings_df = pd.read_csv(mass_shootings_path)

mass_shootings_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3

In [3]:
mass_shootings_df.shape

(3609, 7)

In [8]:
state_count = mass_shootings_df.groupby(['State']).count()
state_count

,Incident ID,Incident Date,City Or County,Address,# Killed,# Injured
State,,,,,,
Alabama,95,95,95,95,95,95
Alaska,5,5,5,5,5,5
Arizona,37,37,37,37,37,37
Arkansas,43,43,43,43,43,43
California,340,340,340,340,340,340
Colorado,52,52,52,52,52,52
Connecticut,27,27,27,27,27,27
Delaware,17,17,17,17,17,17
District of Columbia,59,59,59,59,59,59
Florida,218,218,218,217,218,218
Georgia,137,137,137,136,137,137
Idaho,2,2,2,2,2,2
Illinois,374,374,374,374,374,374
Indiana,75,75,75,75,75,75
Iowa,18,18,18,18,18,18
Kansas,21,21,21,20,21,21
Kentucky,42,42,42,42,42,42
Louisiana,168,168,168,168,168,168
Maine,3,3,3,3,3,3
Maryland,108,108,108,108,108,108
Massachusetts,31,31,31,31,31,31
Michigan,108,108,108,107,108,108
Minnesota,40,40,40,40,40,40
Mississippi,70,70,70,68,70,70
Missouri,117,117,117,116,117,117
Montana,4,4,4,4,4,4
Nebraska,11,11,11,11,11,11
Nevada,29,29,29,29,29,29
New Hampshire,1,1,1,1,1,1
New Jersey,87,87,87,87,87,87
New Mexico,21,21,21,21,21,21
New York,166,166,166,166,166,166
North Carolina,102,102,102,102,102,102
Ohio,141,141,141,141,141,141
Oklahoma,22,22,22,22,22,22
Oregon,20,20,20,20,20,20
Pennsylvania,167,167,167,167,167,167
Rhode Island,4,4,4,4,4,4
South Carolina,93,93,93,92,93,93
South Dakota,4,4,4,4,4,4
Tennessee,113,113,113,113,113,113
Texas,244,244,244,244,244,244
Utah,6,6,6,6,6,6
Vermont,1,1,1,1,1,1
Virginia,81,81,81,81,81,81
Washington,36,36,36,36,36,36
West Virginia,5,5,5,5,5,5
Wisconsin,43,43,43,43,43,43
Wyoming,1,1,1,1,1,1

In [12]:
nj_incidents = mass_shootings_df[mass_shootings_df["State"] == "New Jersey"]
nj_incidents.head(20)

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured
13,264901,"December 16, 2014",New Jersey,Elizabeth,Anna Street,0,4
24,226150,"November 29, 2014",New Jersey,Newark,348 S Orange Ave,1,3
95,175779,"August 16, 2014",New Jersey,Plainfield,West 3rd Street and Monroe Avenue,1,3
128,161302,"July 21, 2014",New Jersey,Irvington,36 Welland Avenue,0,6
171,156245,"June 9, 2014",New Jersey,Paterson,Rosa Parks Boulevard and Godwin Avenue,0,6
259,98836,"January 21, 2014",New Jersey,Newark,Springfield Avenue,2,3
274,1018118,"December 31, 2017",New Jersey,Long Branch,635 Wall St,4,0
353,941257,"September 24, 2017",New Jersey,Mays Landing,6000 block of Hoover Dr,1,3
380,917793,"August 21, 2017",New Jersey,Newark,Fabyan Place,0,4
381,918061,"August 21, 2017",New Jersey,Newark,700 block of S 19th St,1,3
398,907247,"August 5, 2017",New Jersey,Lakewood,900 block of Brook Road,0,4
422,893712,"July 18, 2017",New Jersey,Trenton,Hewitt St and Division St,1,3
438,881700,"July 2, 2017",New Jersey,Jersey City,Wilkinson Avenue,0,4
442,880808,"July 1, 2017",New Jersey,Newark,Lincoln Park and Pennsylvania Avenue,2,2
450,876076,"June 24, 2017",New Jersey,Willingboro,Pastoral Lane,0,4
482,853796,"May 28, 2017",New Jersey,Paterson,86 Main Street,1,5
496,840339,"May 10, 2017",New Jersey,Trenton,300 block of Centre St,1,3
513,830984,"April 27, 2017",New Jersey,Newark,1100 block of S Orange Ave,1,3
610,748152,"January 11, 2017",New Jersey,Newark,Hawkins Street and Christie Street,1,3
645,2300830,"May 11, 2022",New Jersey,Paterson,36 Essex St,1,4